@import "./input-field-map.scss";

.input-field {
  background-color: var(--input-field-background-color);
  padding: var(--spacing-05);
  font-family: var(--input-field-font-family);
  font-size: var(--input-field-font-family);
  max-width: var(--input-field-max-width);
  min-width: var(--input-field-min-width);
  height: var(--input-field-height);
  border: var(--border-thickness) solid var(--tertiary-text);
  border-radius: var(--border-radius);
  display: flex;
  margin: 1rem;

  .form-control {
    border: none;
    width: 100%;
    height: var(--input-field-height);
    color: var(--primary-text);
    font-size: 1.6rem;
    font-weight: var(--font-weight-regular);
    line-height: 1.5rem;
    letter-spacing: var(--input-filed-letter-spacing);
  }

  .form-control:focus {
    outline: none;
  }

  .field-label {
    @include field-label;
  }
  ::placeholder {
    color: var(--disabled-text);
    @include placeholder;
  }

  &[state="on-Focus"] {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    .field-label {
      @include field-label;
    }
    ::placeholder {
      color: var(--disabled-text);
      @include placeholder;
    }
  }

  &[state="active"] {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    input[type="text"] {
      @include input-text;
    }
    .field-label {
      @include field-label;
    }
    ::placeholder {
      color: var(--primary-text);
      @include placeholder;
    }
    .button__icon--close {
      --button-icon-color: #6a7078;
      cursor: pointer;
      background-color: inherit;
    }
  }

  &[state="filled"] {
    border: 1px solid var(--tertiary-text);
    border-radius: var(--border-radius);
    input[type="text"] {
      @include input-text;
    }
    .field-label {
      @include field-label;
    }
    ::placeholder {
      @include placeholder;
      color: var(--primary-text);
    }
  }

  &[state="error"] {
    border: 2px solid var(--error-text);
    border-radius: var(--border-radius);

    .field-label {
      @include field-label;
    }
    ::placeholder {
      color: var(--disabled-text);
      @include placeholder;
    }
  }
}

.error__message {
  @include error-message;
}
